/* github.jiyuntsai.io main.css */

h1 {
    font-family: "Helvetica",
    sans-serif ;
    font-weight: bold;
    font-size: 2.5em;
    color: #581845;
}

h2 {
	font-family: "Helvetica",
    sans-serif ;
}

h3 {
	font-family: "Helvetica",
    sans-serif ;
}

p {
	font-family: "Helvetica",
    sans-serif ;
}