/* github.jiyuntsai.io main.css */

.project {
    height: 22rem;
    width: 30%;
    margin: 0 0.5em 2em;
    position: relative;
    display: block;
    float: left;
    font-family: "Helvetica",
    sans-serif;
    /*overflow: hidden;*/
}

.container {
  width: 96%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav-button{
    font-family: "Helvetica";
    color: #6E6E71;
    font-size: 1.25em;
}

.row {
/*    font-family: "Helvetica",
    sans-serif ;
    width: 98%;
    height: auto;
    margin-left: auto;
    margin-right: auto;*/
}

.nav-section {
    font-family: "Helvetica";
    color: #6E6E71;
    font-size: 1.25em;
    width: 96%;
}

a:hover {
  color: lightcoral;
}

a {
  text-decoration: none;
  color:#581845;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #E5E6EA;
}

nav {
  text-align: right;
  margin-top: 1em;
  word-spacing: 1em;
  }

header {
    font-family: "Helvetica",
    sans-serif ;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-color: #cccccc;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    color: #581845;
    margin-left: 10px;
}

h2 {
    margin-bottom: 0;
    font-size: 1.25em;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #6E6E71;
    font-size: 1em;
}

figure {
    margin-top: 0.25em;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

figcaption {
    font-family: "Helvetica", 
    sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/*img {
    height: 160px;
}
*/
p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
}

@media only screen and (max-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
  div.project {
    width: 100%;
    margin-bottom: 6em;
  }
}

/*@media only screen and (min-width: 45em) {  /* 720px */

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}